.Container{
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;

}

.logo{
  width: 40em;
  height: 40em;
  margin: auto;
}


.App {
  min-height: 100vh; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-size: 3em;
  color: #FFD163;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}

h1 span{
  border: 5px solid #FFD163;
  text-shadow: none;
}

textarea{
  width: 500px;
  height: 150px;
  padding: 10px;
  }
